<ng-template #loading>
    <div class="alert alert-info">
        Espere por favor...
    </div>
</ng-template>

<div *ngIf="pais; else loading">
    <div class="row">
        <div class="col-12">
            <h2>Pais: <strong>{{pais.name.common}}</strong></h2>

        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <h3>Bandera</h3>
            <img [src]="pais.flags.svg" [alt]="pais.name.common" class="img-thumbnail">
        </div>
        <div class="col-8">
            <h3>Información</h3>
            <ul class="list-group">
                <li class="list-group-item">
                    <b>Capital:</b> {{pais.capital}}  
                </li>
                <li class="list-group-item">
                    <b>Subregión:</b> {{pais.subregion}}
                </li>
                <li class="list-group-item">
                    <b>Área:</b> {{pais.area | number}} km²
                </li>
                <li class="list-group-item">
                    <b>Población:</b> {{pais.population | number}}
                </li>
            </ul>                  
    </div>
</div>